
.container {

  padding-right: 15px;

  padding-left: 15px;

  margin-right: auto;

  margin-left: auto;

}


@media (min-width: 768px) {

  .container {

    width: 750px;

  }

}

@media (min-width: 992px) {

  .container {

    width: 970px;

  }

}

@media (min-width: 1200px) {

  .container {

    width: 1170px;

  }

}

.col-lg-offset-6 {

  margin-left: 50%;

}

.navbar {

  min-height: 50px;

  margin-bottom: 20px;

  border: 1px solid transparent;

}

.navbar-default {

  background-color: #f8f8f8;

  border-color: #e7e7e7;

}

.navbar-brand {
font-size: 35px;
font-family: Kaufmann Script;
font-style: italic;
font-style: bold;
}


.ti
{
margin-left: 15%;
}

.lv
{
margin-left: 15%;
}

.c
{
margin-left: 30%;
}

.calendar
{
margin-left: 30%;
}

.body
{
background-color: #EEEEEE;
}

.btnmdp
{
margin-top: 15px;
}
 
 