.formulaire_location {
	margin-top: 80px;
}

.add-on {
	display: inline-block;
}

.limit-col {
	height:100%!important;
}

.thumbnail {
	height: 100% !important;
	overflow: visible;
	height: 100% !important;
}