.modalInfo span {
    line-height: 7px;
    padding: 2px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-weight: bold;
}

.add-on {
    display: inline-block;
    z-index: 100000;
}

.modalInfo {
    margin-top: 10px;
}

.Stitle {
    font-size: 30px;
}

.Slocation {
    font-size: 10px;
    font-weight: 100;
    color: grey;
}

.Sdescription {
    font-size: 15px;
    font-weight: 100;
}

.Screator {
    font-size: 12px;
    font-weight: normal;
}

.Sparticipant {
    font-size: 10px;
    font-weight: normal;
}

.Sinfo {
    font-size: 15px;
    font-weight: 900;
    color: black;
}

#calendar {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 60px;
}

#openCModal {
    margin: 40px;
    padding: 10px;
}

.multiselect {

}

.selectBox {
    position: relative;
}

.selectBox select {
    width: 100%;
    font-weight: bold;
}

.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
}

#checkboxes {
    display: none;
    border: 1px #dadada solid;
}

#checkboxes label {
    display: block;
}

#checkboxes label:hover {
    background-color: #1e90ff;
}