<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="stylesheets/unique/authentication/login.css"/>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  </head>
  <body class="log">
    
    <img class="logo" src="images/GSB.png" alt="Logo entreprise" />
    <!-- NAVBAR + BOUTON RECHERCHE -->
    <div class="container">
      <form id="authentication-form" class="form-signin">
        <div class="col-lg-offset-4 col-lg-4 text-center">
          <h2 class="form-signin-heading">Login</h2>
          
          <label for="username" class="sr-only">Identifiant</label>
          <input id="username" type="text" name="username" id="username" class="form-control" placeholder="Identifiant" required autofocus>
          
          <label for="password" class="sr-only">Password</label>
          <input type="password" name="password" id="password" class="form-control" placeholder="Password">
          <button class="btn btn-info" id="authentication-submit" type="submit">Login</button>
          </br>
          <a class="mdpforgot" href="mdpoublie.html"> Mot de passe oublie ? </a>
          
        </div>
      </form>
    </div>
    
  </div>
  <script type="text/javascript" src="socket.io/socket.io.js"></script>
  <script src="http://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
  <script src="javascripts/unique/authentication/script.js"></script>
  <script src="javascripts/common/cookies.js"></script>
  <script src="javascripts/common/connect.js"></script>
  
  <script type="text/javascript">
  </script>
</body>
</html>