<!DOCTYPE html>
<html>
  <head>
    <title>
    <%=title %>
    </title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">
  </head>
  <body>
    <img src="../images/GSB.png">
    <div class="container">
      <form class="form-signin" action="/authenticate" method="post">
        <h2 class="form-signin-heading text-center">Login</h2>
        <label for="username" class="sr-only">Username</label>
        <input type="text" name="username" id="username" class="form-control" placeholder="Username" required autofocus>
        <label for="password" class="sr-only">Password</label>
        <input type="password" name="password" id="password" class="form-control" placeholder="Password">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
      </form>
      <button id="test" class="btn btn-lg btn-primary btn-block">test</button>
    </div>
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script
  src="http://code.jquery.com/jquery-2.2.1.js"
  integrity="sha256-eNcUzO3jsv0XlJLveFEkbB8bA7/CroNpNVk3XpmnwHc="
  crossorigin="anonymous"></script>
  <script>
  var socket = io.connect('http://localhost:3000', {
    'query': 'token=' + 'eyJhbGciOiJIUzI1NiJ9.YWRtaW4.Hq25ihi_FB2DYnhkH9mO7z7nz67xPsE5IfFsUgDhbrU'
  });
  socket.on("error", function(error) {
    if (error.type == "UnauthorizedError" || error.code == "invalid_token") {
      // redirect user to login page perhaps?
      console.log("User's token has expired");
    }
});
  date1 = new Date(2016, 11, 17);
  date2 = new Date(2016, 11, 17);
test = [{
  type: "String",
  Location: "String",
  loanStart: date1,
  loanEnd: date2,
  free: true,
  driver: "user"
},{  type: "String",
  Location: "String",
  loanStart: date1,
  loanEnd: date2,
  free: false,
  driver:"user"}];
  $('#test').click(function() {
        socket.emit("createUser", 
          JSON.stringify(test)
        );

    console.log('event fired');
  });
  socket.on("createUser", function(time) {
    console.log("Create" + JSON.stringify(time));
  });
  socket.on("pushTicket", function(time) {
    console.log("pusched" +JSON.stringify(time));
  });
  </script>
</body>
</html>