<!DOCTYPE html>

<html>

    <head>

        <meta charset="utf-8" />

        <title><%= title %></title>

	    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
	    <link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">

    </head>


<body>

    <div class="container">
        <form class="form-signin" action="/tickets/createTicket" method="post">
            <h2 class="form-signin-heading text-center">Creer un ticket</h2>

            <label for="location" class="sr-only">location</label>
            <input type="text" id="location" name="location" class="form-control" placeholder="location" required autofocus>

            <label for="typeRequest" class="sr-only">Type de requete</label>
            <input type="text" id="typeRequest" name="typeRequest" class="form-control" placeholder="Type de requete" required autofocus>

            <label for="importance" class="sr-only">importance</label>
            <input type="number" id="importance" name="content[importance]" class="form-control" placeholder="importance" required>

            <label for="text" class="sr-only">text</label>
            <input type="text" id="text" name="content[text]" class="form-control" placeholder="text" required>

           

            <button class="btn btn-lg btn-primary btn-block" type="submit">Creer un ticket</button>
          </form>
    </div>
</body>


</html>