<!DOCTYPE html>

<html>

    <head>

        <meta charset="utf-8" />

        <title><%= title %></title>

    </head>


    <body>

    	<a href="tickets/createTicket">Créer un ticket</a>

    </body>

</html>