<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" href="stylesheets/assets/bootstrap.min.css"/>
    <link rel="stylesheet" href="javascripts/assets/introjs/introjs.css"/>
    <link rel="stylesheet" href="stylesheets/unique/website/index.css"/>
    <link rel="stylesheet" href="stylesheets/common/responsive.css"/>
    <link rel="stylesheet" href="stylesheets/common/navbar.css"/>
    <link rel="stylesheet" href="stylesheets/assets/font-awesome.min.css"/>
    <script>
    var socket;
    </script>
    <script src="javascripts/assets/jquery.js"></script>
    
    <script src="javascripts/assets/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="javascripts/common/loadingScreen.js"></script>
    <script src="javascripts/assets/introjs/intro.js"></script>
    <script src="javascripts/common/cookies.js"></script>
    <script src="javascripts/common/connect.js"></script>
    <script src="javascripts/common/connectSocket.js"></script>
    <script src="javascripts/common/disconnect.js"></script>
    <script src="javascripts/common/hideByAccessLevel.js"></script>
    <script src="javascripts/common/addParam.js"></script>
    <script src="javascripts/unique/website/chat/script.js"></script>
  </head>
  
  <body>
    <div id="page">
      <nav role="navigation" class="navbar navbar-inverse">
        <div class="navbar-header">
          <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <a href="home" class="navbar-brand">GSB</a>
        </div>
        <div id="navbarCollapse" class="collapse navbar-collapse">
          <ul class="nav navbar-nav dynamic-add">
            <li ><a href="ticket" data-intro='Contactez le service support pour résoudre vos problèmes' data-step="1" >Tickets incidents</a></li>
            <li><a href="locationVehicule" data-intro='Reserver un véhicule utilitaire pour vos déplacements' data-step="2">Locations vehicules</a></li>
            <li>
              <a href="agenda" data-intro='Communiquez avec les autres utilisateurs' data-step="3">Agenda</a>
            </li>
            <li>
              <a href="chat" data-intro='Consultez et gérez votre emploi du temps' data-step="4">Chat</a>
            </li>
            <li>
              <a href="support" class="access-2" data-intro='Consultez et gérez votre emploi du temps' data-step="9">Support</a>
            </li>
            <li>
              <a href="admin" class="access-3" data-intro='Consultez et gérez votre emploi du temps' data-step="10">Admin</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a  href="#" id="helpButton"><i class="fa fa-question-circle-o" aria-hidden="true"></i>Aide</a></li>
            <li><a  data-toggle="modal" data-target="#myModal" id="userInfo" href="#"  data-step="5" data-intro='Onglet de connexion et déconnexion'></a></li>
          </ul>
        </div>
      </nav>
      <div>
        <section id="OpenNewConversation">
          <h4>Liste des utilisateurs</h4>
          <select id="userSelect">
            <option value="-1">Selectionner un utilisateur</option>
          </select>
          <button class="sendAMessage" data-toggle="modal" data-target="#Modal">Envoyer un message</button>
          <select id="activeUserSelect">
            <option value="-1">Selectionner un utilisateur connecté</option>
          </select>
          <button class="StartAConv" data-toggle="modal" data-target="#chatModal">Commencer une conversation</button>
        </section>
        <section id="lastMessages">
          <div class="notification-content jumbotron" data-intro='vos messages' data-step="6" >
            <h3>Vos messages</h3>
            <ul class="chat-items modulable">
            </ul>
          </div>
        </section>
        <!--<section id="chat">
          <ul id="messages">
          </ul>
          <ul id="users">
          </ul>
          <input id="m"  autocomplete="off" />
          <button id="sendM">Envoyer</button>
          
        </section> -->
        
        
      </div>
      <div id="loading"></div>
    </body>
    <!-- Modal -->
    <div class="modal fade bs-example-modal-sm"  id="Modal" role="dialog">
      <div class="modal-dialog modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Formulaire d'envoi</h4>
          </div>
          <div class="modal-footer">
            <textarea id="contentMessage" placeholder="Entrer le contenu de votre méssage"></textarea>
            <button id="sendMessageBtn">Envoyer</button>
            <p id="confirmSent"></p>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade bs-example-modal-sm"  id="myModal" role="dialog">
      <div class="modal-dialog modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Déconnexion</h4>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal"> Annuler </button>
            <button type="submit" id="disconnect" class="btn btn-info"> Confirmer </button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade bs-example-modal-sm"  id="chatModal" role="dialog">
      <div class="modal-dialog modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Méssagerie instantanée</h4>
          </div>
          <div class="modal-footer">
            <section id="chat">
              <ul id="messages">
              </ul><ul id="users">
            </ul>  
              <input id="contentMessageC"  autocomplete="off"  placeholder="Entrer le contenu de votre méssage"/>
          </section>
          <button id="sendMessageBtnC">Envoyer</button>
          <p id="confirmSentC"></p>
        </div>
      </div>
    </div>
  </div>
</html>