<!DOCTYPE html>

<html>

  <head>

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">

    <link href="sylesheets/tuto.css" rel="stylesheet">
	
	<link href="stylesheets/index.css" rel="stylesheet">

  </head>
  
  <body>

<div class="navbar navbar-inverse navbar-fixed-top">
<a class="navbar-brand" href="index.html" title="Accueil">GSB</a>
  <ul class="nav navbar-nav">

    <li> <a class="active" class="ti" href="ticket.html">Tickets incidents</a> </li>

    <li> <a class="lv" href="loca.html">Locations vehicules</a> </li>

    <li> <a class="c" href="chat.html">Chat</a> </li>
	
	<li> <a class="calendar" href="calendar.html">Agenda</a> </li>

  </ul>
<form class="navbar-form navbar-right inline-form">

            <div class="form-group">

              <input type="search" class="input-sm form-control" placeholder="Recherche">

              <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-zoom-in"></span> Chercher</button>

            </div>

          </form>
</div>
	</br>
	</br>
	</br>
	<p class="test"> Bonjour </p>
	
  </body>

</html>


